@import "../../styles/config.scss";

img {
 
    height: 130px;
  //padding: 5px;
  margin-bottom: 110px;
  margin-top: 110px;
}
@media (min-width: 768px) {
    img {
        margin-top: 12px;
  height: 98px;
  margin-bottom: 0px;
    }
  }
.control-console {
  // display: none;
  // height: 20vh;
 
  border: 1px solid black;
    width: 100%;
//   height: 129vh;
//   width: 30%;
//   margin-top: 30px;
//   margin-bottom: 20px;
//   margin-left: 35px;
//   border: 1px solid black;
}
@media (max-width: 768px) {
  .control-console {
  

   // height: 90%;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 35px;
    border: 1px solid black;
    
  }
}
button {
  border-radius: 12px;
  height: 50px;
  width: 65%;
  margin: 20px;
  background-color: white;
  font-size: 12px;
  font-weight: 500;
}
@media (min-width: 768px) {
    button {
        height: 70px;
        width: 110px;
        font-size: 16px;
    }
  }


input {
  margin-top: 30px;
  border: 1px solid;
  background: #ffffff;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 5px 5px 5px 8px;
  width:65%;
}
@media (min-width: 768px) {
    input {
     width:80%;
    }
  }
.error {
  color: red;
  font-size: 12px;
}

.img-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  width: 92%;
   // display: block;
}
@media (min-width: 768px) {
  .img-border {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .mobile-view {
    width: 100%;
  }
}
@media (max-width: 768px) {
    .margin-row {
      margin-left: 0px;
    }
  }
.center-align {
  text-align: center;
}
@media (max-width: 768px) {
    .center-align {
      margin-top: 50px;
    }
  }
